@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf);
  }
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--rojo: #ba181b;
	--azul: #00b4d8;
	--azul-hover: #48cae4;
	--rojo-hover: #e5383b;
	--verde: #949494;
}

body {
	font-family: Poppins;
	/* max-width: 1200px; */
	margin: 80px auto;
	display: flex;
	justify-content: center;
	background-image: url(./components/Images/oficinaFoto.webp);
	background-repeat:repeat-y;
	background-size: cover;
	height: 100%;
}

.card-to-do {
	background-color: #fff;
	padding: 0px;
	border-radius: 20px;
	width: 700px;
}

h1 {
	text-align: center;
}

.stars{
	color: red;
	gap: 10px;
	margin-left: 2rem;
	margin-bottom: 0.2rem;
}

h4 {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: red;
	border: .12rem solid red;
	font-size: 16px;
	padding: 5px 22px;
	background-color: #ffffff;
	border-radius: 10px;
	font-weight: 500;
	cursor: pointer;
}

.button-done-disabled{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(255, 255, 255);
	font-size: 16px;
	background-color: #c5c5c5;
	cursor: pointer;
	border: 2px solid #c5c5c5;
}

.counter-todos {
	background-color: rgb(250, 234, 144);
	width: 700px;
	margin-bottom: 30px;
	/* padding: 6px; */
}
ul {
	display: flex;
	flex-direction: column;
}

ul li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 10px 0px;
	margin: 0 2rem;
	border-bottom: 1px solid rgb(172, 172, 172); 
}

.list-item:last-child {
	padding-bottom: 20px;
	border-bottom: 0px solid rgb(172, 172, 172);
}

ul li span {
	overflow: hidden;
	display: flex;
	align-items: center;
}

ul li form {
	flex: 1;
	display: flex;
	justify-content: space-between;
}

.input-update {
	border: none;
	font-weight: 500;
	font-family: inherit;
	font-size: 20px;
	color: #555;
	width: 100%;
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
}

.container-done {
	width: 24px;
	height: 24px;
	border-radius: 20px;
	border: 2px solid var(--verde);
	cursor: pointer;
}

.container-done.active {
	background-color: var(--verde);
}

.text-decoration-dashed {
	text-decoration: line-through;
	color: rgb(183, 183, 183);
	font-family: Arial, Helvetica, sans-serif;	
	font-style: italic;
}

.btn-delete {
	background-color: var(--rojo);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: pointer;
	font-family: inherit;
	margin-right: 1rem;
}


form {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-left: 1.4rem;
}

.input-add {
	border: none;
	outline: none;
	padding: 10px 20px;
	flex: 1;
	font-family: inherit;
	font-size: 20px;
	color: rgb(150, 150, 150);
	font-family: Arial, Helvetica, sans-serif;	
	font-style: italic;
}

.btn-add {
	display: inline-flex;
  	align-items: center;
	border-color: rgb(150, 150, 150);
	background-color:#fff;
	color: rgb(150, 150, 150);
	height: fit-content;
	border: 2.5px solid;
	border-radius: 100%;
	font-weight: bold;
	font-family:'Courier New', Courier, monospace;
	cursor: pointer;
	font-size: 30px;
	margin-left: 2.5rem;
	
}
.mas {
	position: relative;
	transform: translateX(1%) translateY(-33%);
	height: 20px;
	width: 20px;
}

.nav {
	font-size: 14px;
	font-family: Roboto;
	box-sizing: border-box;
	display: flex;
	justify-content:space-between;
	padding: 0 1.8rem 0 3.6rem;
	align-items: stretch;
	gap: 1rem;
}
.nav ul {
	margin: 0;
	flex-direction: row;
}
.nav ul li {
	border-bottom: none;
}
.nav a {
	color: inherit;
	text-decoration: none;
}
.nav li:hover {
	background-color: #8f8f8f;
}
.filter {
	align-self: center;
}
.contadores {
	color: rgb(250, 250, 250);
	display: flex;
	flex-direction: row;
	font-size: 13px;
	gap: 20px;
	height: 22px;
	width: 22px;
	margin-right: 70px;
	margin-top: 8px;
}
.Tcount, .Pcount {
	border-radius: 15%;
	padding: 0 8px;
	padding-top: 2px;
}
.Tcount {
	background-color: #8f8f8f;
}
.Pcount {
	background-color: #ee6567;
}

.fecha-container{
	text-align: end;
	padding-right: 1rem;
	height: 25px;
}

.input-task{
	padding: 1rem 0;
}